body { 
	color: white;
	background-color: grey;
	margin: 20px;
	border: 3px solid silver;
	width:50%;
	margin-left: 75px;
	margin-right:75px;
	padding:100px 200px 100px 200px;


}

h1 {
	padding-top: 30px;
	color: #ffffff;
	text-align: center;
}

h2 { 
	margin-left: 50px;
 }

 h4 {
 	padding-top: 20px;
 	display: inline;
 }

a {
	color: #00e699;
	display: inline;
	text-align: center;
}

div {
	text-align: center;
}

img {
	float:right;
    margin:10px;
    margin-top:-2px;
    padding:3px;
    border:#CCCCCC 1px solid;

}

p {
	font-size: 14px;
	margin-left: 50px;
	margin-right: 50px;
}

hr {
	margin-right: 40px;
	margin-left: 40;
}

.mainnav li {
    display:inline;
    list-style:none;
    /*border-right:#CCCCCC 1px solid;*/
    text-align:center;
}

hr {
color: solid grey;
margin-right: 3px;
margin-left: 25px;
}

.mainnav span{
}